* {
  margin: 0;
  padding: 0;
}
body {
  background-color: aqua;
}
.container {
  margin: 10px;
  padding: 10px;
}
#formSinhVien {
  display: none;
  padding: 10px;
  width: 400px;
  height: 500px;
  border: solid 1px;
  background-color: antiquewhite;
}

label {
  margin-right: 10px;
  gap: 10px;
}

#formSinhVien div {
  padding: 15px;
  margin: 15px;
}
#formSinhVien input {
  float: right;
  width: 100%;
  height: 30px;
}
#formSinhVien label {
  font-style: italic;
}
#formSinhVien ::placeholder {
  font-style: italic;
  font-size: x-small;
}
.tenUngDung {
  text-align: center;
}
#click {
  background-color: aqua;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 10px;
  width: 60px;
  height: 30px;
}
.buttonForm {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 80px;
  display: inline-block;
}
button:hover {
  cursor: pointer;
  background-color: rgb(187, 255, 0);
  padding: 5px;
}
.modal-content {
  display: flex;
  justify-content: center;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid rgb(12, 12, 12);
  background-color: rgb(243, 234, 234);
  text-align: center;
}
table td,
thead {
  border: solid 1px;
}
#dataBase {
  text-align: left;
  font-style: italic;
  font: size 16px;
}
#tieuDeBang {
  font-style: italic;
  font-weight: bold;
  word-wrap: wrap;
  text-align: center;
}
